$dark-blue: #465466;
$light-blue: #6D7F90;
$orange: #9D4823;

.container-fluid{
  margin: 0;
  padding: 0;
}

body{
   background-color: $dark-blue;
 }

nav{
background-color: rgba(255, 255, 255, .95);
height: 100%;
width: 100vw;
z-index: 100;
bottom: 0;
position: fixed;
display: none;
opacity: 0;
transition: .5s;

ul{
  list-style: none;
  margin-top: 150px;
  margin-left: 0!important;
  padding: 0!important;
  li{
    text-align: center;
    padding: 12px;
  margin-left: 0!important;
  }
}

} /* END NAV */


header{
  z-index: 200;
  background-color: $dark-blue;

button{
margin-top: 12px;
margin-bottom: 15px;
margin-right: 15px;
position: relative;
z-index: 201;
height: 55px;
background-color: $dark-blue;
border: none;
outline: none;
}

.logotype img{
  width: 200px;
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}



button:focus{
  outline: none;
  border: none;
}

} /* CLOSE HEADER */

.toggle-nav{
  display: block;
  opacity: 1;
}
