.container-fluid {
  margin: 0;
  padding: 0; }

#active {
  font-weight: bold;
  text-decoration: underline; }

#active-desktop {
  font-weight: bold !important;
  text-decoration: underline; }

#active-subnav {
  font-weight: bold;
  text-decoration: underline; }

body {
  background-color: #465466; }

.desktop-nav ul {
  margin-top: 90px;
  width: 100%; }
.desktop-nav li {
  float: left;
  width: 14%;
  text-align: center; }
  .desktop-nav li a {
    color: white;
    font-family: barlow;
    font-size: 14px !important; }

nav {
  background-color: rgba(255, 255, 255, 0.95);
  height: 100vh;
  width: 100vw;
  z-index: -100;
  bottom: 0;
  position: fixed;
  opacity: 0;
  transition: .5s;
  display: none; }
  nav ul {
    list-style: none;
    margin-top: 32vh;
    margin-left: 0 !important;
    padding: 0 !important;
    display: none; }
    nav ul li {
      text-align: center;
      padding: 12px;
      margin-left: 0 !important; }
      nav ul li a {
        color: black;
        transition: .25s ease; }
  nav a:hover {
    color: #465466;
    text-decoration: none; }

/* END NAV */
ul {
  list-style: none; }

header {
  z-index: 200;
  background-color: #6D7F90; }
  header button {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    position: relative;
    z-index: 201;
    height: 55px;
    background-color: #6D7F90;
    border: none;
    outline: none; }
  header .logotype img {
    width: 200px;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: 205; }
  header button:focus {
    outline: none;
    border: none; }

/* CLOSE HEADER */
.toggle-display-on {
  display: block;
  opacity: 1;
  z-index: 100; }
  .toggle-display-on ul {
    display: block; }

.home {
  padding-top: 0 !important; }

article {
  float: left;
  margin-top: 10px;
  background-color: white;
  padding-top: 0px !important;
  padding-bottom: 30px;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  article p {
    margin-bottom: 30px; }

main {
  float: left;
  margin-top: 10px;
  background-color: white;
  padding: 0 !important; }

aside {
  float: left;
  margin-top: 10px;
  padding: 0 !important; }
  aside .aside-container {
    background-color: white; }

h1 {
  font-family: 'Playfair Display', serif; }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 15px; }

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 18px; }

p {
  font-family: 'Barlow', sans-serif; }

/* HOME */
.photo-container-home {
  height: 25vh;
  overflow: hidden;
  position: relative; }
  .photo-container-home img {
    position: absolute;
    top: -50px !important; }

.current-projects {
  height: 450px;
  background-color: white; }

.map {
  height: 50vh;
  margin-top: 10px; }

.list {
  list-style: none;
  float: left;
  margin-bottom: 20px; }
  .list li {
    margin-top: 5px;
    margin-bottom: 5px; }
  .list .content-container {
    padding-right: 0;
    margin-top: 0; }
    .list .content-container h3 {
      font-size: 18px;
      line-height: 21px;
      color: black;
      transition: .25s ease;
      margin-bottom: 0px !important; }
    .list .content-container h3:hover {
      opacity: .5; }
    .list .content-container p {
      font-family: 'Barlow', sans-serif;
      font-weight: 400;
      margin-bottom: 0 !important; }
    .list .content-container .contact-tiny {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 5px !important;
      font-family: 'Barlow', sans-serif;
      font-weight: 200;
      color: #465466;
      transition: .25s ease; }
    .list .content-container .contact-tiny:hover {
      text-decoration: none;
      opacity: .5; }
    .list .content-container .about-tiny {
      font-size: 14px;
      font-family: 'Barlow', sans-serif;
      font-weight: 400; }
      .list .content-container .about-tiny li {
        margin-top: 0;
        margin-bottom: 0; }
  .list .view-more {
    background-color: #9D4823;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .25s ease; }
  .list a:hover {
    text-decoration: none;
    opacity: .5; }

footer {
  height: 75px; }
  footer ul {
    margin-top: 20px; }
    footer ul li {
      margin-right: 20px; }
  footer img {
    width: 35px;
    height: auto; }
  footer a {
    color: white; }

/* PERKS & POINTS OF INTEREST */
.subnav li {
  margin-right: 15px;
  float: left; }
  .subnav li a {
    color: #465466;
    transition: .25s ease; }
.subnav a:hover {
  text-decoration: none;
  opacity: .5; }

/*rental-template*/
.property-features-container {
  border-top: 1px solid grey; }
  .property-features-container ul {
    margin-bottom: 30px; }
  .property-features-container li {
    font-family: barlow; }

.rental-template-gallery-container {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 30px; }

.rental-template-gallery {
  margin-bottom: 30px; }
  .rental-template-gallery li {
    margin-top: 5px;
    margin-bottom: 5px; }
  .rental-template-gallery li:nth-child(odd) img {
    padding-right: 5px; }
  .rental-template-gallery li:nth-child(even) img {
    padding-left: 5px; }

.contact-landlord-container a {
  background-color: #9D4823;
  color: white;
  text-align: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 30px;
  transition: .25s ease; }
.contact-landlord-container a:hover {
  text-decoration: none;
  opacity: .5; }

/*history*/
.history p {
  margin-top: 30px;
  margin-bottom: 30px; }

/* BREAKPOINTS START HERE ------------------------------------ */
@media (min-width: 576px) {
  .photo-container-home img {
    bottom: -150px; } }
/* closes 576px breakpoint */
@media (min-width: 768px) {
  header button img {
    max-width: 40px; }

  main {
    padding-left: 25px !important;
    padding-right: 25px !important; }

  .aside-container {
    padding-left: 25px !important;
    padding-right: 25px !important; }

  .photo-container-home img {
    bottom: -200px !important; }

  .list .about-tiny {
    font-size: 12px !important; }

  /*home*/
  .view-more {
    margin-top: 20px;
    margin-bottom: 20px; }

  .map {
    height: 30vh; }

  /*history*/
  .history {
    padding-bottom: 30px !important; }
    .history img {
      margin-top: 30px; }
    .history p {
      margin-top: 0; }

  .home h2 {
    padding-left: 40px !important;
    padding-right: 40px !important; }
  .home p {
    padding-left: 40px !important;
    padding-right: 40px !important; }

  .rental-template-image {
    margin-top: 30px; }
    .rental-template-image img {
      padding: 0 !important;
      margin-bottom: 30px; } }
/* closes 768px media query */
@media (min-width: 992px) {
  header {
    height: 125px; }

  .main-container {
    padding: 10px; }

  main {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  aside {
    padding-left: 10px !important;
    padding-right: 0 !important; }

  .aside-container {
    padding: 0 !important; }

  /* Home */
  .home {
    padding-top: 30px !important;
    padding-bottom: 30px !important; }
    .home h2 {
      margin: 0; }

  .photo-container-home {
    height: 250px; }
    .photo-container-home img {
      top: 0; } }

/*# sourceMappingURL=style.css.map */
